section.uc-fsv-comparer
    position: relative

    .viewport
        display: inline-block
        width: 50%
        height: 100%
        overflow: hidden

    .properties
        position: absolute
        bottom: 0
        left: 0
        right: 0